<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>BlackBox | {+title}The Framework of the Future{/title}</title>
    <link rel="stylesheet" href="/css/blackbox/web/layout.css">
    <script type="text/javascript" src="/vendor/modernizr/modernizr-2.6.2.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <nav></nav>
        </header>
        <main role="main">{+content/}</main>
        <footer></footer>
    </div>
    <script id="application-conf" type="text/html">{"TEMPLATE_ENGINE":"{TEMPLATE_ENGINE}","ENV":"{ENV}"}</script>
    <script data-main="/js/{ENV}/blackbox/web/main.bundled.js" src="/vendor/require.js"></script>
</body>
</html>
