<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>BlackBox</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/css/blackbox/web/main.css">
    <script type="text/javascript" src="/vendor/modernizr/modernizr-2.6.2.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <nav></nav>
        </header>
        <main role="main">{{> content }}</main>
        <footer></footer>
    </div>
    <script type="text/javascript">ENV = '{{ env }}';</script>
    <script data-main="/js/{{ env }}/blackbox/web/main.bundled.js" src="/vendor/require.js"></script>
</body>
</html>
